<!DOCTYPE html>
<html lang="en">
<head>
    <!--css文件及配置-->
    {% include "common/head.html" %}
    <title>跳转失败</title>
</head>
<body>
<div class="page msg_warn js_show">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">跳转失败</h2>
            <p class="weui-msg__desc">请重新打开网页或联系管理员
        </div>
    </div>
</div>
<!--js文件-->
{% include "common/js.html" %}
</body>
</html>