<!DOCTYPE html>
<html lang="en">
<head>
    <!--css文件及配置-->
    {% include "common/head.html" %}
    <title>信息</title>
</head>
<body>

<div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">验证码</div>
            {% for msg in list_msg %}
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">{{ msg.create_time }}</h4>
                    <p class="weui-media-box__desc">{{ msg.message }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

<!--js文件-->
{% include "common/js.html" %}

</body>
</html>