<!DOCTYPE html>
<html lang="en">
<head>
    <!--css文件及配置-->
    {% include "common/head.html" %}
    <title>信息</title>
</head>
<body>

<div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">验证码</div>
            {% for i in list_msg %}
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">标题一</h4>
                    <p class="weui-media-box__desc">{{ forloop.counter0 }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

<!--js文件-->
{% include "common/js.html" %}




</body>
</html>