<!DOCTYPE html>
<html lang="en">
<head>
    <!--css文件及配置-->
    {% include "common/head.html" %}
    <title>信息</title>
</head>
<body>
    <div class="weui-pull-to-refresh__layer">
    <div class='weui-pull-to-refresh__arrow'></div>
    <div class='weui-pull-to-refresh__preloader'></div>
    <div class="down">下拉刷新</div>
    <div class="up">释放刷新</div>
    <div class="refresh">正在刷新</div>
    </div>
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">验证码</div>
        <div id="msg">
            {% for msg in list_msg %}
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title" id=create_time{{ forloop.counter0 }} >{{ msg.create_time }}</h4>
                    <p class="weui-media-box__desc"  id=message{{ forloop.counter0 }}>{{ msg.message }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

<!--js文件-->
{% include "common/js.html" %}

<script>
$(document.body).pullToRefresh(function () {
    data = {
        csrfmiddlewaretoken: '{{ csrf_token }}'
     };
    setTimeout(function () {
        $.ajax({
            url: "/show/",
            type: "post",
            data: data,
            async: false,
            success: function (data) {
                var result = eval('(' + data + ')');
                if (result.result == 'true'){
                    for(var i = 0;i<result.list_msg.length;i++){
                        $('#create_time'+i).html(result.list_msg[i].create_time)
                        $('#message'+i).html(result.list_msg[i].message)
                    }
                    $.toast("刷新成功");
                    $(document.body).pullToRefreshDone();
                }
                else{
                    $.toast("刷新失败");
                }
            }
        });
    },500);

});




</script>


</body>
</html>