<!DOCTYPE html>
<html lang="en">
<head>
    <!--css文件及配置-->
    {% include "common/head.html" %}
    <title>登录</title>
</head>
<body>
<div class="page">
    <form id="form_login" method="post" action="">
        {% csrf_token %}
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">账号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="username" name="username" type="text" maxlength="18" required
                           placeholder="输入您的账号" emptytips="请输入账号" notmatchtips="请输入正确的账号">
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">密码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="password" name="password" type="password" maxlength="18" required
                           placeholder="输入您的密码" emptytips="请输入密码" notmatchtips="请输入正确的密码">
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
            </div>
        </div>
        <div class="weui-btn-area">
            <a id="login" type="submit" href="javascript:" class="weui-btn weui-btn_primary">登录</a>
        </div>
    </form>
</div>

<!--js文件-->
{% include "common/js.html" %}

<script type="text/javascript">
    $('#login').on('click',function () {
        weui.form.validate('#form_login', function (error) {
            if (!error) {
                var loading = weui.loading('登录中');
                setTimeout(function () {
                    $.ajax({
                        url: "/login/",
                        type: "post",
                        data: $('#form_login').serialize(),
                        async: false,
                        success: function (data) {
                            loading.hide();
                            var result = eval('(' + data + ')');
                            if(result.result == 'true'){
                                weui.toast('登录成功',500);
                                $(location).attr('href','/index/');
                                $(window).attr('location','/index/');
                                $(location).prop('href','/index/');
                            }
                            else{
                                weui.topTips('账号或密码错误', 1000);
                            }
                        }
                    });
                },500);
            }
        }, {
            regexp: {
            }
        });
    });
    weui.form.checkIfBlur('#form_login', {
        regexp: {
        }
    });
</script>

</body>
</html>