<!DOCTYPE html>
<html lang="en">
<head>
    {% include "common/head.html" %}
    <title>登录</title>
    <!--css文件及配置-->
</head>
<body>
<div class="page">
    <form id="form_login" method="post" action="">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">账号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="username" name="username" type="text" maxlength="18" required
                           placeholder="输入您的账号" emptytips="请输入账号" notmatchtips="请输入正确的账号">
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">密码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="password" name="password" type="password" maxlength="18" required
                           placeholder="输入您的密码" emptytips="请输入密码" notmatchtips="请输入正确的密码">
                </div>
                <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
            </div>
        </div>
        <div class="weui-btn-area">
            <a id="login" type="submit" href="javascript:" class="weui-btn weui-btn_primary">登录</a>
        </div>
    </form>
</div>

<!--js文件-->
{% include "common/js.html" %}

</body>
</html>